# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Logs
logs/
*.log

# Test images 
*.png

#Virtual environment
.venv

# Distrubution / packaging
build/
dist/
*.spec

# EasyOCR models:
models/
*.pth